<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet" />
    <style>
        .form-control {
            width: 100%;
            padding: 0;
        }
    </style>
    <title></title>
</head>
<body>
    <div class="container" ng-controller="ProductController">
        <div class="row" style="padding-top: 50px;">
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'"><span class="glyphicon glyphicon-list"></span></label>
                <label class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'"><span class="glyphicon glyphicon-th"></span></label>
            </div>
        </div>

        <div class="row" style="padding-top: 20px;" ng-repeat="product in products">
            <div class="col-sm-3">
                <img ng-src="{{ product.image }}" alt="..." class="img-thumbnail">
            </div>
            <div class="col-sm-9">
                <h3><strong>{{ product.title }}</strong></h3>
                <p>
                    {{ product.desc }}
                </p>
            </div>
        </div>
    </div>

    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="ProductController.js"></script>

    <!-- 假資料來源，API好之前使用 -->
    <script src="ProductDataServiceFake.js"></script>    
    <!-- 真的呼叫Api取得資料 -->    
    <!--<script src="ProductDataService.js"></script>-->    
</body>
</html>
