<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="../../Content/kendo/2014.2.716/kendo.common-bootstrap.core.min.css" rel="stylesheet" />
    <link href="../../Content/kendo/2014.2.716/kendo.bootstrap.min.css" rel="stylesheet" />
    <style>
        .form-control {
            width: 100%;
            padding: 0;
        }

        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
            display: none !important;
        }
    </style>
    <title>Complex Form</title>
</head>
<body class="container" ng-controller="MainController">
    <h2>
        申請會員-資料填寫
    </h2>
    <form role="form" name="form" novalidate ng-submit="showDetail()">
        <div class="row ng-cloak">
            <div class="alert alert-danger" id="errorMessage" role="alert" ng-show="form.$invalid && submitted">請重新檢查表單是否正確</div>
            <div class="alert alert-success" id="successMessage" role="alert" ng-show="success">建立會員成功</div>
        </div>
        <div class="row">            
            <div class="col-lg-6 col-sm-12">
                <div class="form-group" ng-class="{ 'has-error': form.account.$invalid && submitted }">
                    <label for="account">*帳號：</label>
                    <input type="text" class="form-control" name="account"
                           ng-model="account"
                           required
                           ng-pattern="/[A-Za-z0-9]{8,12}/">
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.password.$invalid && submitted }">
                    <label for="password">*密碼：</label>
                    <input type="password" class="form-control" name="password"
                           ng-model="password"
                           required>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.hint.$invalid && submitted }">
                    <label for="hint">*密碼提示：</label>
                    <input type="text" class="form-control" name="hint"
                           ng-model="hint"
                           required>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.lastName.$invalid && submitted }">
                    <label for="lastName">*姓：</label>
                    <input type="text" class="form-control" name="lastName"
                           ng-model="lastName"
                           required>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.nickname.$invalid && submitted }">
                    <label for="nickname">*暱稱：</label>
                    <input type="text" class="form-control" name="nickname"
                           ng-model="nickname"
                           required>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.birthday.$invalid && submitted }">
                    <label for="birthday">*生日</label>
                    <input type="text" class="form-control" name="birthday"
                           ng-model="birthday"
                           kendo-date-picker k-format="'yyyy/MM/dd'"
                           required>
                </div>
                <div class="form-group">
                    <label for="blood">血型：</label>
                    <select class="form-control" name="blood"
                            ng-model="blood">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="O">O</option>
                        <option value="AB">AB</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="education">教育程度：</label>
                    <select class="form-control" name="education"
                            ng-model="education">
                        <option value="碩士">碩士</option>
                        <option value="大學">大學</option>
                        <option value="高中">高中</option>
                        <option value="國中">國中</option>
                    </select>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.address.$invalid && submitted }">
                    <label for="address">*地址：</label>
                    <input type="text" class="form-control" name="address"
                           ng-model="address"
                           required>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group" ng-class="{ 'has-error': form.email.$invalid && submitted }">
                    <label for="email">*Email：</label>
                    <input type="text" class="form-control" name="email"
                           ng-model="email"
                           required>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.passwordConfirm.$invalid && submitted }">
                    <label for="passwordConfirm">*密碼確認：</label>
                    <input type="password" class="form-control" name="passwordConfirm"
                           ng-model="passwordConfirm"
                           required>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.mobile.$invalid && submitted }">
                    <label for="mobile">*手機電話：</label>
                    <input type="text" class="form-control" name="mobile"
                           ng-model="mobile"
                           required>
                </div>
                <div class="form-group" ng-class="{ 'has-error': form.firstName.$invalid && submitted }">
                    <label for="firstName">*名：</label>
                    <input type="text" class="form-control" name="firstName"
                           ng-model="firstName"
                           required>
                </div>
                <div class="form-group">
                    <label for="gender">性別：</label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="male"> 男生
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="female"> 女生
                    </label>
                </div>
                <div class="form-group">
                    <label for="constellation">星座：</label>
                    <input type="text" class="form-control" name="constellation" ng-model="constellation">
                </div>
                <div class="form-group">
                    <label for="marrige">婚姻狀態：</label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="no"> 未婚
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="yes"> 已婚
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="other"> 其他
                    </label>
                </div>
                <div class="form-group">
                    <label for="job">職業類別：</label>
                    <input type="text" class="form-control" name="job" ng-model="job">
                </div>
                <div class="form-group">
                    <label for="phone">電話：</label>
                    <input type="text" class="form-control" name="phone" ng-model="phone">
                </div>
            </div>
        </div>
        <button id="submit" type="submit" class="btn btn-success" ng-click="submitted=true">確認送出</button>
    </form>
    <script src="../../Scripts/jquery-1.9.1.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.core.min.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.ui.core.min.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.datepicker.min.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.colorpicker.min.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.angular.min.js"></script>
    <script>
        var app = angular.module('app', ['ui.bootstrap', 'ui.bootstrap.tpls', 'kendo.directives']);

        app.controller('MainController', MainController);

        function MainController($scope) {
            $scope.submitted = false;

            $scope.showDetail = function () {
                if ($scope.form.$valid) {
                    $scope.success = true;
                }
            }
        }
    </script>
</body>
</html>
