<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <link href="../../Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="../../Content/kendo/2014.2.716/kendo.common-bootstrap.core.min.css" rel="stylesheet" />
    <link href="../../Content/kendo/2014.2.716/kendo.bootstrap.min.css" rel="stylesheet" />
    <style>
        .form-control {
            width: 100%;
            padding: 0;
        }
    </style>
    <title></title>
</head>
<body class="container">
    <h2>
        申請會員-資料填寫
    </h2>
    <form role="form">
        <div class="row">
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="account">帳號：</label>
                    <input type="text" class="form-control" id="account"
                           ng-model="account">
                </div>
                <div class="form-group">
                    <label for="password">密碼：</label>
                    <input type="password" class="form-control" id="password" ng-model="password">
                </div>
                <div class="form-group">
                    <label for="hint">密碼提示：</label>
                    <input type="text" class="form-control" id="hint" ng-model="hint">
                </div>
                <div class="form-group">
                    <label for="lastName">姓：</label>
                    <input type="text" class="form-control" id="lastName" ng-model="lastName">
                </div>
                <div class="form-group">
                    <label for="nickname">暱稱：</label>
                    <input type="text" class="form-control" id="nickname" ng-model="nickname">
                </div>
                <div class="form-group">
                    <label for="birthday">生日</label>
                    <input type="text" class="form-control" id="birthday" ng-model="birthday"
                           kendo-date-picker k-format="'yyyy/MM/dd'">
                </div>
                <div class="form-group">
                    <label for="blood">血型：</label>
                    <select class="form-control" id="blood" ng-model="blood" ng-init="blood=A">
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="O">O</option>
                        <option value="AB">AB</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="education">教育程度：</label>
                    <select class="form-control" id="education" ng-model="education">
                        <option value="碩士">碩士</option>
                        <option value="大學">大學</option>
                        <option value="高中">高中</option>
                        <option value="國中">國中</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="address">地址：</label>
                    <input type="text" class="form-control" id="address" ng-model="address">
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div class="form-group">
                    <label for="email">Email：</label>
                    <input type="text" class="form-control" id="email"
                           ng-model="email">
                </div>
                <div class="form-group">
                    <label for="passwordConfirm">密碼確認：</label>
                    <input type="password" class="form-control" id="passwordConfirm" ng-model="passwordConfirm">
                </div>
                <div class="form-group">
                    <label for="mobile">手機電話：</label>
                    <input type="text" class="form-control" id="mobile" ng-model="mobile">
                </div>
                <div class="form-group">
                    <label for="firstName">名：</label>
                    <input type="text" class="form-control" id="firstName" ng-model="firstName">
                </div>
                <div class="form-group">
                    <label for="gender">性別：</label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="male"> 男生
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="female"> 女生
                    </label>
                </div>
                <div class="form-group">
                    <label for="constellation">星座：</label>
                    <input type="text" class="form-control" id="constellation" ng-model="constellation">
                </div>
                <div class="form-group">
                    <label for="marrige">婚姻狀態：</label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="no"> 未婚
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="yes"> 已婚
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="other"> 其他
                    </label>
                </div>
                <div class="form-group">
                    <label for="job">職業類別：</label>
                    <input type="text" class="form-control" id="job" ng-model="job">
                </div>
                <div class="form-group">
                    <label for="phone">電話：</label>
                    <input type="text" class="form-control" id="phone" ng-model="phone">
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-success">確認送出</button>
    </form>
    <script src="../../Scripts/jquery-1.9.1.js"></script>
    <script src="../../Scripts/angular.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="../../Scripts/angular-ui/ui-bootstrap.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.core.min.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.ui.core.min.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.datepicker.min.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.colorpicker.min.js"></script>
    <script src="../../Scripts/kendo/2014.2.716/kendo.angular.min.js"></script>
    <script>
        var app = angular.module('app', ['ui.bootstrap', 'ui.bootstrap.tpls', 'kendo.directives']);
    </script>
</body>
</html>
